body{
    /* border: 3px solid #73AD21; */
}
.body{
background-color: #ffffff;
display: flex;
/* border: 3px solid #73AD21; */
margin-bottom: 2px;
margin-top: 0px;

}
.header{
    /* border-style: double;
    border-radius: 12px;
    border-width: medium; */
    height: 64px;
    
}
img{
    height: 100%;
    
}
.right{
/* border-style: double;
border-width: medium; */
margin-bottom: 30px;
padding: 10px;
/* margin: 0px; */
height: 470px;
width: 40%;

}
.right-top{
border-style: double;
border-width: medium;
border-radius: 12px;
padding: 60px;
height: 70px;
background-color:  #43326c; /* For browsers that do not support gradients */
background-image: linear-gradient(to left, purple,  black );
/* box-shadow: 6px 6px 5px rgb(195, 43, 195); */
}




.right-middle{
display: flex;
margin-top: 10px;
margin-bottom: 10px;

/* background-image: linear-gradient(to left, purple,  black ); */
}
.right-middle-one{
border-style: double;
border-radius: 12px;
border-width: medium;
padding: 25px;
height: 4px;
width: 105px;

background-color:  #43326c; /* For browsers that do not support gradients */
background-image: linear-gradient(to left, purple,  black );
}

.right-middle-two{
border-style: double;
border-radius: 12px;
border-width: medium;
padding: 25px;
height: 4px;
width: 25%;
margin-left: 5px;
background-color:  #43326c; /* For browsers that do not support gradients */
background-image: linear-gradient(to left, purple,  black );

}
.right-middle-three{
border-style: double;
border-width: medium;
border-radius: 12px;
padding: 25px;
height: 4px;
width: 25%;
margin-left: 5px;
background-color:  #43326c; /* For browsers that do not support gradients */
background-image: linear-gradient(to left, purple,  black );
}

.right-bottom{
border-style: double;
border-width: medium;
margin-bottom: 30px;
border-radius: 12px;
padding: 80px;
height: 55px;
background-color:  #43326c; /* For browsers that do not support gradients */
background-image: linear-gradient(to left, purple,  black );
}
.middle{
/* border-style: double;
border-width: medium; */
margin-bottom: 30px;
margin-left: 15px;
width: 25%;
/* margin: 20px; */
height: 470px;



}
.middle-top{
border-style: double;
border-width: medium;
border-radius: 12px;
margin-bottom: 10px;
padding: 5px;
height: 300px;
margin-top: 10px;
background-image: linear-gradient(black, purple);
}
h3{
    margin-left: 70px;
    text-decoration: underline;
    font-size: 20px;
    color: white;
}
.middle-bottom{
border-style: double;
border-width: medium;
border-radius: 12px;
margin-bottom: 30px;
padding: 5px;
height: 150px;
background-image: linear-gradient( purple, black);
}
.left{
   
    /* border-style: double;
    border-width: medium; */
    margin-bottom: 30px;
    padding: 10px;
    /* margin: 20px; */
    height: 470px;
    width: 50%;
    

}

.left-top{
    border-style: double;
    border-radius: 12px;
border-width: medium;
padding: 60px;
height: 70px;
background-color: #43326c; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, purple , black);
}
.left-middle{
    border-style: double;
    border-radius: 12px;
    border-width: medium;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 80px;
    height: 35px;
    background-color: #43326c; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, purple , black);
}
.left-bottom{
    /* border-style: double;
border-width: medium; */
margin-bottom: 30px;
padding: 5px;
  
  /* border: 3px solid #73AD21; */
  display: flex;
}
.left-bottom-one{
    border-style: double;
    border-radius: 12px;
    border-width: medium;
    background-color: #43326c; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, purple , black);
   
    height: 65px;
    width: 170px;
}
.left-bottom-two{
    border-style: double;
    border-radius: 12px;
    border-width: medium;
    background-color:  #43326c; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, purple , black);
    height: 65px;
    width: 170px;
    margin-left: 5px;
}
.left-bottom-three{
    border-style: double;
    border-radius: 12px;
    border-width: medium;
    background-color: #43326c; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, purple , black);
    height: 65px;
    width: 170px;
    margin-left: 5px;
}
h4{
    margin-left: 12px;
    color: white;
    

}